# Log file
*.log

### Visual Studio Code IDEA ###
.vscode
coverage.out

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.factorypath
.settings

### Other IDE related and tmp files ###
bazel-*
*~
.idea/
*.swp
.history
tmp/

# Go workspace file
go.work

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Terraform related ###
# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
!test*.tfstate
!test*.tfstate.*

#.tfvars files
*.tfvars

# terraform plan files
**/plan.out
**/tfplan
**/tfplan.binary

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Binary files
bin/
dist/
